/Kalavarda_1/Scripts/*.meta
/Kalavarda_1/Scripts/Behaviours/*.meta
/Kalavarda_1/Scripts/Behaviours/Skills/*.meta
/Kalavarda_1/Scripts/Model/*.meta
/Kalavarda_1/Scripts/Model/Enemies/*.meta
/Kalavarda_1/Scripts/Model/Skills/*.meta
/Kalavarda_1/Scripts/Model/Things/*.meta
/Kalavarda_1/Scripts/Utils/*.meta
/Kalavarda_1/Scripts/Model/Buffs/*.meta
